
04_EDA_inf_stat/02_EDA_racial_discrimination/inferential_statistics_2.ipynb
04_EDA_inf_stat/02_EDA_racial_discrimination/.ipynb_checkpoints/inferential_statistics_2-Copy2-checkpoint.ipynb
04_EDA_inf_stat/02_EDA_racial_discrimination/.ipynb_checkpoints/inferential_statistics_2-Copy1-checkpoint.ipynb
04_EDA_inf_stat/02_EDA_racial_discrimination/.ipynb_checkpoints/inferential_statistics_2-checkpoint.ipynb
